
<%= form_for(@quote, html: {:role => 'form' , :class => 'form'}) do |f|  %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :author %><br>
    <%= f.text_field :author, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :quote %><br>
    <%= f.text_area :quote, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :background %><br>
    <%= f.text_area :background, class: "form-control" %>
  </div>
  
  <%= f.submit class: "btn btn-danger" %>
  
<% end %>