<p id="notice"><%= notice %></p>

<h2>Listing Quotes</h2>
<h4>Quotes with their Author's attached.</h4>
<h5>Feel free to add your own!</h5>
<div class="panel panel-group">

    <% @quotes.each do |quote| %>
        <div class="panel panel-default">
          <div class="panel-heading"><h6><%= quote.author %></h6></div>
          <div class="panel-body"><h4><%= quote.quote %></h4></div>
          <div class="panel-footer"><h6><%= quote.background %></h6></div>
            <a><%= link_to 'Show', quote , class: "btn btn-primary" %></a>
            <a><%= link_to 'Edit', edit_quote_path(quote) , class: "btn btn-info" %></a>
            <a><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %></a>
        </div>
    <% end %>
</div>

<br/>

<%= link_to 'New Quote', new_quote_path, class: "btn btn-info"   %>